<div class="container">
  <form action="/destinations/new" method="post" class="destination-form">

    <label for="destination">destination: </label>
    <input name="destination" class="form-destination" type="text" placeholder="destination">

    <label for="description">description: </label>
    <input name="description" class="form-description" type="text" placeholder="description">

    <label for="details">details: </label>
    <input name="details" class="form-details" type="text" placeholder="details">
    <br>
    <input type="submit" id="form-login" value="add">
  </form>
</div>
