<div class="container">
  <form action="/trips" method="post" class="create-destination">

    <label for="destination">destination: </label>
    <input name="destination" class="form-input" type="text" placeholder="destination">

    <label for="description">description: </label>
    <input name="description" class="form-input" type="text" placeholder="description">

    <label for="details">details: </label>
    <input name="details" class="form-input" type="text" placeholder="details">

    <label for="arrive">arrive: </label>
    <input name="arrive" class="form-input" type="text" placeholder="arrive">

    <label for="depart">depart: </label>
    <input name="depart" class="form-input" type="text" placeholder="depart">
    <br>
    <input type="submit" id="form-login" value="add">
  </form>
</div>
