<div class="container">
  <form action="/trips" method="post" class="create-destination">

    <label for="destination" id="form-font">destination: </label>
    <input name="destination" class="form-input" type="text" placeholder="destination">

    <label for="description" id="form-font">description: </label>
    <input name="description" class="form-input" type="text" placeholder="description">

    <label for="details" id="form-font">details: </label>
    <input name="details" class="form-input" type="text" placeholder="details">

    <label for="arrive" id="form-font">arrive: </label>
    <input name="arrive" class="form-input" type="date" placeholder="arrive">

    <label for="depart" id="form-font">depart: </label>
    <input name="depart" class="form-input" type="date" placeholder="depart">
    <br>
    <input type="submit" id="form-login" value="add">
  </form>
</div>
