h1 {
  color: #37474F;
  text-align: center;
  font-weight: 900;
  font-size: 4vw;
  position: relative;
  padding: 30px;
  top: 5em;
  text-align: center;
}

h2 {
  position: relative;
  padding: 30px;
  top: 2em;
  text-align: center;
  z-index: -1;
  font-family: 'Lalezar', cursive;
}

#news-feed {
  display: inline-block;
  width: 100%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

#news-feed-info {
  padding: 1vw;
  margin: 1vw;
  width: 46%;
  height: 196px;
  float: left;
  position: relative;
}

#news-feed-row {
  overflow: auto;
  padding: 17px;
}

#news-feed-edit {
  position: absolute;
  bottom: 0;
  right: 0.87;
  padding: 0.87vw;
}

#news-feed-map {
  width: 46%;
  float: left;
  position: relative;
}

#profile {
  display: inline-block;
  width: 100%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

#profile-tile {
  padding: 1vw;
  margin: 1vw;
  width: 33%;
  height: 130px;
  border: 3px solid #ECEFF1;
  border-radius: 4px;
  float: left;
  position: relative;
}

#destination {
  font-family: 'Lalezar', cursive;
  font-size: 130%;
}

#description {
  font-weight: lighter;
  color: #37474F;
}

#edit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.87vw;
}

#delete {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.80vw;
}

#delete-button {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: #0000EE
}

#delete-button:hover {
    text-decoration: underline;
}

#new {
  display: block;
  padding: 0.87vw;
  text-align: center;
  margin-top: 50px;
}

form.create-destination {
  background: linear-gradient(to bottom right, #0D47A1, #F50057);
  color: #FFFFFF;
  width: 400px;
  padding: 15px;
  position: relative;
  top: 10em;
  margin: 0 auto;
  border-radius: 4px;
}

#fixbar {
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: right;
  width: 100%;
  opacity: .98;
  background: linear-gradient(to bottom right, #0D47A1, #B3E5FC);
  color: #ffffff;
  padding: 20px;
  display: inline;
  letter-spacing: 3px;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
}

.title-bar {
  position: fixed;
  display: inline;
  left: 20px;
}

form.user-form {
  background: linear-gradient(to bottom right, #0D47A1, #F50057);
  color: #FFFFFF;
  width: 300px;
  padding: 15px;
  position: relative;
  top: 5em;
  margin: 0 auto;
  border-radius: 4px;
}

#form-font {
  font-family: 'Raleway', sans-serif;
}

.form-input {
  width: 96%;
  position: relative;
  margin: 3px;
  color: black;
}

#tall {
  height: 150px;
  word-wrap: break-word;
}

#form-login {
  color: black;
  margin: 3px;
}

#form-register {
  color: black;
  margin: 3px;
}

#show {
  position: relative;
  margin: 3px;
  top: 5em;
  left: 3em;
}

#map {
  position: relative;
  top: 3.7em;
}

a:link {
    text-decoration: none;
    color: #0000EE;
}

a:hover {
    text-decoration: underline;
}

.comments {
  position: absolute;
  top: 27em;
  display: inline-block;
  width: 46%;
  margin-left: 50%;
}

#comment-text {
  padding: 2em;
  border-bottom: 3px solid #E0F7FA;
  width: 100%;
  min-height: 50px;
  float: right;
  position: relative;
}

#comment-author {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.80vw;
  font-family: 'Raleway', sans-serif;
}

#add-button {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: #0000EE;
  }

#add-button:hover {
  text-decoration: underline;
}

#comment-form {
  border-bottom: 3px solid #E0F7FA;
}

.add-comment {
  border: none;
  width: 100%;
  min-height: 50px;
}
