h1 {
  color: #37474F;
  text-align: center;
  font-weight: 900;
  font-size: 4vw;
  position: relative;
  padding: 30px;
  top: 5em;
  text-align: center;
}

h2 {
  position: relative;
  padding: 30px;
  top: 3em;
  text-align: center;
  z-index: -1;
  font-family: 'Lalezar', cursive;
}

.news-feed {
  position: relative;
  top: 1em;
  margin: 3vw;
  text-align: center;
}

.post {
  background: linear-gradient(to bottom right, #ECEFF1, #CFD8DC);
  border: 3px solid #607D8B;
  padding: 1vw;
  border-radius: 4px;
  position: relative;
  top: 1em;
}

#destination {
  font-family: 'Lalezar', cursive;
  font-size: 130%;
}

#new-destination {
  position: relative;
  top: 7em;
  margin: 3vw;
  text-align: center;
}

form.create-destination {
  background: linear-gradient(to bottom right, #0D47A1, #F50057);
  color: #FFFFFF;
  width: 400px;
  padding: 15px;
  position: relative;
  top: 10em;
  margin: 0 auto;
  border-radius: 4px;
}

#description {
  font-weight: lighter;
  color: #37474F;
}

#fixbar {
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: right;
  width: 100%;
  opacity: .98;
  background: linear-gradient(to bottom right, #0D47A1, #B3E5FC);
  color: #ffffff;
  padding: 20px;
  display: inline;
  letter-spacing: 3px;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
}

.title-bar {
  position: fixed;
  display: inline;
  left: 20px;
}

form.user-form {
  background: linear-gradient(to bottom right, #0D47A1, #F50057);
  color: #FFFFFF;
  width: 300px;
  padding: 15px;
  position: relative;
  top: 5em;
  margin: 0 auto;
  border-radius: 4px;
}

#form-font {
  font-family: 'Raleway', sans-serif;
}

.form-input {
  width: 96%;
  position: relative;
  margin: 3px;
  color: black;
}

#form-login {
  color: black;
  margin: 3px;
}

#form-register {
  color: black;
  margin: 3px;
}

#show {
  position: relative;
  margin: 3px;
  top: 5em;
  left: 3em;
}

#map {
  position: relative;
  top: 3.7em;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
