h1 {
  color: #37474F;
  text-align: center;
  font-weight: 900;
  font-size: 4vw;
}

.news-feed {
  position: relative;
  top: 1em;
  margin: 3vw;
  text-align: center;
}

#destination {
  font-weight: bold;
}

#description {
  font-weight: lighter;
  color: #37474F;
}
