<h2>create a matth3wjones account</h2>
<div class="container">
<form action="/users" method="post" class="create-form">
    <label for="username">username: </label>
    <input name="user[username]" class="form-user" type="text" placeholder="username">

    <label for="email">email: </label>
    <input name="user[email]" class="form-email" type="email" placeholder="email address">

    <label for="password">password: </label>
    <input name="user[password]" class="form-password" type="password" placeholder="password">
  <br>
  <input type="submit" id="form-register" value="create">

</form>
  </div>
