<h2>create a matth3wjones account</h2>
<div class="container">
<form action="/users" method="post" class="user-form">
    <label for="username" id="form-font">username</label>
    <input name="user[username]" class="form-input" type="text" placeholder="username">

    <label for="email" id="form-font">email</label>
    <input name="user[email]" class="form-input" type="email" placeholder="email address">

    <label for="password" id="form-font">password</label>
    <input name="user[password]" class="form-input" type="password" placeholder="password">
  <br>
  <input type="submit" id="form-register" value="create">

</form>
  </div>
