<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://fonts.googleapis.com/css?family=Codystar:300|Lalezar|Raleway:200" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>matth3wjones travels</title>
</head>
<body>
  <header id="fixbar">
  <div class="title-bar">matth3wjones travels</div>
    <a href="/"></i> Home</a> |
    <% if logged_in? %>
      <a href="/users/<%= session[:id] %>">Profile</a> |
      <a href="/logout">Logout</a>
    <% else %>
      <a href="/login">Login</a> | 
      <a href="/users/new">Register</a>
    <% end %>
  </header>
  <%= yield %>
</body>
</html>
